/* calendar styles */
.block-calendar {
  min-height: 40px;
  width: 100%;
}
#calendar-body {
  position: relative;
  width: 100%;
}
.calendar-container {
  background-color: #f1f1f1;
  border: none;
  margin: 0;
  padding: .5rem;
}
.pretty-calendar-week,
.calendar-daynames {
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
  width: 100%;
}
.pretty-calendar-week .pretty-calendar-weekend,
.pretty-calendar-week .pretty-calendar-day,
.calendar-daynames .pretty-calendar-weekend,
.calendar-daynames .pretty-calendar-day {
  display: inline;
  float: left;
  overflow: visible;
  text-align: center;
  width: calc(100% / 7);
}
.pretty-calendar-week .pretty-calendar-weekend,
.calendar-daynames .pretty-calendar-weekend {
  // color: #06c;
}
.pretty-calendar-week .calendar-value,
.calendar-daynames .calendar-value {
  border: none;
  float: left;
  padding: .25rem 0 0;
  text-align: center;
  width: 100%;
}
.calendar-daynames .calendar-value .third-letter {
  display: none;
}
.pretty-calendar-week a {
  color: #0073bd;
  font-weight: bold;
}
.pretty-calendar-week a div {
  // background-color: #dee4da;
  // text-decoration: underline;
}
.pretty-calendar-week a:hover div {
  background-color: rgba(0,0,0,.4);
  color: #fff;
}
.pretty-calendar-week .pretty-calendar-today {
  color: #fff;
  background-color: #20252E;
}
.calendar-daynames {
  border-bottom: none;
  text-transform: capitalize;
  font-size: .9rem;
  padding: .5rem 0 .25rem 0;
}

.pretty-calendar-month {
  border-top: none;
}
.pretty-calendar-month a div {
  text-decoration: none;
}
.pretty-calendar-month {
  font-weight: bold;
  padding-top: 2px;
  text-align: center;
  width: 100%;
}
.pretty-calendar-month .month-title {
  padding-top: 2px;
}
.pretty-calendar-month .calendar-prev,
.pretty-calendar-month .calendar-next {
  border: none;
  line-height: 1.4;
  margin: .25rem 0;
  padding: 0;
  position: absolute;
  width: 2rem;
  max-width: 24px;
  max-height: 19px;
}
.pretty-calendar-month .calendar-prev {
  top: 2px;
  left: 2px;
}
.pretty-calendar-month .calendar-next {
  top: 2px;
  right: 2px;
}
.pretty-calendar-month a.calendar-prev {
  background: transparent url("../standard/arrows.png") no-repeat -24px 0;
}
.pretty-calendar-month a:hover.calendar-prev {
  background: transparent url("../standard/arrows.png") no-repeat 0 0;
}
.pretty-calendar-month a.calendar-next {
  background: transparent url("../standard/arrows.png") no-repeat -24px -18px;
}
.pretty-calendar-month a:hover.calendar-next {
  background: transparent url("../standard/arrows.png") no-repeat 0 -18px;
}

/* calendar loader styles */
.calendar_loader {
  height: 0px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0px;
}
.calendar_loader div {
  background: url("/core/misc/loading.gif") no-repeat;
  height: 48px;
  margin-left: -24px;
  margin-top: -40px;
  width: 48px;
}
