/* calendar styles */
.block-calendar { width:182px;  }
#calendar-body { width:182px; position:relative; }
.rbc_week .rbc_value, .rbc_daynames .rbc_value { font-size:12px; font-family:Arial, Tahoma, sans; cursor:default; color:#999; width:26px; height:19px; padding:7px 0 0; line-height:12px; display:block; float:left; text-align:center; }
.rbc_week a { cursor:pointer; text-decoration:none; }
.rbc_week a .rbc_value  { cursor:pointer; color:#000; font-weight:bold; }
.rbc_week a:hover div { background:url("days.png") no-repeat 0 -26px; color:#FFF; }
.rbc_week .rbc_today .rbc_value  { background:url("days.png") no-repeat 0 0; }
.rbc_week a:hover .rbc_today .rbc_value  { background:url("days.png") no-repeat 0 -52px; color:#FFF; }

.rbc_day, .rbc_weekend { width:26px; height:26px; display:block; float:left; background:url("grid.png") no-repeat 0 0; }
.rbc_last { background:url("grid.png") no-repeat 0 -26px; }
.rbc_daynames .rbc_day, .rbc_daynames .rbc_weekend  { background:url("grid.png") no-repeat 0 -52px; text-transform:capitalize; text-shadow:1px 1px 0px #FFF; }
.rbc_daynames .rbc_last  { background:none; }

.rbc_month { text-align:center; clear:both; display:block; width:182px; height:27px; margin:2px 0 5px; background:transparent url("bar.png") no-repeat 0 0; }
.rbc_month a:hover div { background:none; }
.rbc_month .month-title { float:left; width:140px; position:relative; z-index:3; text-align:center; padding-top:5px; font-size:12px; font-family:Tahoma, Arial, sans; text-shadow:1px 1px 0px #FFF; }
.rbc_month .calendar-prev, .rbc_month .calendar-next { margin-top:5px; background:transparent url("arrows.png") no-repeat 0 0; height:16px; width:16px; cursor:pointer; }
.rbc_month .calendar-prev { margin-left:5px; float:left; }
.rbc_month a:hover .calendar-prev { background:url("arrows.png") no-repeat 0 -16px; }
.rbc_month .calendar-next { margin-right:5px; float:right; background:url("arrows.png") no-repeat 0 -32px; }
.rbc_month a:hover .calendar-next { background:url("arrows.png") no-repeat 0 -48px; }


/* calendar loader styles */
.calendar_loader { width:0px; height:0px; position:absolute; left:28px; bottom:22px; z-index:2; }
.calendar_loader div { background:url("ajax-loader.gif") no-repeat; width:128px; height:15px;}

/* tooltip styles */
#tiptip_holder { display:none; position:absolute; top:0; left:0; z-index:99999; }
#tiptip_holder.tip_top { padding-bottom:5px; }
#tiptip_holder.tip_bottom { padding-top:5px; }
#tiptip_holder.tip_right { padding-left:5px; }
#tiptip_holder.tip_left { padding-right:5px; }
#tiptip_content { font-size:11px; color:#333; text-shadow:0 0 1px #FFF; padding:4px 8px; border:1px solid rgba(0,0,0,0.25); background-color:rgb(215,220,225); border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999; -moz-box-shadow:0 0 3px #999; }
#tiptip_arrow, #tiptip_arrow_inner { position:absolute; border-color:transparent; border-style:solid; border-width:6px; height:0; width:0; }
#tiptip_holder.tip_top #tiptip_arrow { border-top-color:#fff; border-top-color:rgba(255,255,255,0.35); }
#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color:#fff; border-bottom-color:rgba(255,255,255,0.35); }
#tiptip_holder.tip_right #tiptip_arrow { border-right-color:#fff; border-right-color:rgba(255,255,255,0.35); }
#tiptip_holder.tip_left #tiptip_arrow { border-left-color:#fff; border-left-color:rgba(255,255,255,0.35); }
#tiptip_holder.tip_top #tiptip_arrow_inner { margin-top:-7px; margin-left:-6px; border-top-color:rgb(215,220,225); }
#tiptip_holder.tip_bottom #tiptip_arrow_inner { margin-top:-5px; margin-left:-6px; border-bottom-color:rgb(215,220,225); }
#tiptip_holder.tip_right #tiptip_arrow_inner { margin-top:-6px; margin-left:-5px; border-right-color:rgb(215,220,225); }
#tiptip_holder.tip_left #tiptip_arrow_inner { margin-top:-6px; margin-left:-7px; border-left-color:rgb(215,220,225); }
#tiptip_content ul{ list-style:none; padding:5px 10px; margin:0; font-size:11px; }
#tiptip_content a { text-decoration:underline; }
#tiptip_content .tooltip_summary { text-align:right; padding:0; }

/* tooltip loader styles */
.tooltip_loader { width:128px; height:15px; padding:8px 16px; }
.tooltip_loader div { background:url("ajax-loader.gif") no-repeat; width:128px; height:15px;}