/* calendar styles */
.block-calendar {
  min-height: 40px;
  width: 100%;
}

#calendar-body {
  position: relative;
  width: 100%;
}

.calendar-container {
  border: none;
  margin: 0;
  padding: .5rem;
}

.pretty-calendar-week,
.calendar-daynames {
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
  width: 100%;
}

.pretty-calendar-week .pretty-calendar-weekend,
.pretty-calendar-week .pretty-calendar-day,
.calendar-daynames .pretty-calendar-weekend,
.calendar-daynames .pretty-calendar-day {
  display: inline;
  float: left;
  overflow: visible;
  text-align: center;
  width: calc(100% / 7);
}

.pretty-calendar-week .calendar-value,
.calendar-daynames .calendar-value {
  border: none;
  float: left;
  padding: .25rem 0 0;
  text-align: center;
  width: 100%;
}

.calendar-daynames .calendar-value .third-letter {
  display: none;
}

.calendar-daynames {
  border-bottom: none;
  padding: .5rem 0 .25rem 0;
}

.pretty-calendar-month {
  border-top: none;
  padding-top: 2px;
  text-align: center;
  width: 100%;

  a div {
    text-decoration: none;
  }

  .month-title {
    padding-top: 2px;
  }

  .calendar-prev,
  .calendar-next {
    border: none;
    line-height: 1.4;
    margin: .25rem 0;
    padding: 0;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: currentColor;
  }

  .calendar-prev {
    top: 2px;
    left: 2px;
    mask-image: var(--icon-caret-double-left);
  }

  .calendar-next {
    top: 2px;
    right: 2px;
    mask-image: var(--icon-caret-double-right);
  }

}

.calendar_loader {
  height: 0px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0px;
}

.calendar_loader div {
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: currentColor;
  mask-image: var(--icon-spinner);
  height: 48px;
  margin-left: -24px;
  margin-top: -40px;
  width: 48px;
  animation-name: pretty-calendar-spinner;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pretty-calendar-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
