/* Minimal calendar styles */

:root {
  --pretty-calendar--color-faint: #efefef;
}

.block-calendar {
  min-height: 40px;
  width: 100%;
}

.pretty-calendar--body {
  position: relative;
  width: 100%;
}

.pretty-calendar--container {
  border: none;
  margin: 0;
}

.pretty-calendar--week,
.pretty-calendar--daynames {
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
  width: 100%;
}

.pretty-calendar--week .pretty-calendar--weekend,
.pretty-calendar--week .pretty-calendar--day,
.pretty-calendar--daynames .pretty-calendar--weekend,
.pretty-calendar--daynames .pretty-calendar--day {
  display: inline;
  float: left;
  overflow: visible;
  text-align: center;
  width: calc(100% / 7);
}

.pretty-calendar--week .pretty-calendar--value,
.pretty-calendar--daynames .pretty-calendar--value {
  border: none;
  float: left;
  padding: .25rem 0 0;
  text-align: center;
  width: 100%;
}

.pretty-calendar--daynames .pretty-calendar--value .third-letter {
  display: none;
}

.pretty-calendar--daynames {
  border-bottom: none;
  padding: .5rem 0 .25rem 0;
}

.pretty-calendar--month {
  border-top: none;
  padding-top: 2px;
  text-align: center;
  width: 100%;

  a div {
    text-decoration: none;
  }

  .month-title {
    padding-top: 2px;
  }

  .pretty-calendar--prev,
  .pretty-calendar--next {
    border: none;
    line-height: 1.4;
    margin: .25rem 0;
    padding: 0;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: currentColor;
  }

  .pretty-calendar--prev {
    top: 2px;
    left: 2px;
    mask-image: var(--icon-caret-double-left);
  }

  .pretty-calendar--next {
    top: 2px;
    right: 2px;
    mask-image: var(--icon-caret-double-right);
  }

}

.calendar_loader {
  height: 0px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0px;
}

.calendar_loader div {
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: currentColor;
  mask-image: var(--icon-spinner);
  height: 48px;
  margin-left: -24px;
  margin-top: -40px;
  width: 48px;
  animation-name: pretty-calendar-spinner;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pretty-calendar--full {
  border-block-end: 1px solid var(--pretty-calendar--color-faint);

  .pretty-calendar--week {
    border-block-start: 1px solid var(--pretty-calendar--color-faint);
    border-inline-start: 1px solid var(--pretty-calendar--color-faint);
    display: flex;
    flex-direction: row;

    .pretty-calendar--day {
      padding: .75rem;
      border-inline-end: 1px solid var(--pretty-calendar--color-faint);
      display: flex;
      flex-direction: column;
    }

    .pretty-calendar--value {
      font-size: 1.25rem;
    }
  }

  .calendar-day-content {
    display: none;

    @media (min-width: 62em) {
      display: block;
      font-size: .875rem;
    }
  }

  .pretty-calendar--week .pretty-calendar--weekend,
  .pretty-calendar--week .pretty-calendar--day,
  .pretty-calendar--daynames .pretty-calendar--weekend,
  .pretty-calendar--daynames .pretty-calendar--day,
  .pretty-calendar--week .pretty-calendar--value,
  .pretty-calendar--daynames .pretty-calendar--value {
    text-align: left;
  }

  .pretty-calendar--blank {
    background-color: var(--pretty-calendar--color-faint);
  }
}

@keyframes pretty-calendar-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
